/* CSS files add styling rules to your content */

h1 {
  color: white;
  font-family: "Inconsolata", monospace;
  text-align: center;
}
h2 {
  color: #D0D0D0;
  font-family: "Inconsolata", monospace;
  text-align: center;
}

body {
  background-color: #FF5733;
}

.linkpages {
  text-align: left;
  color: white;
  background: #808080;
  border: 2px solid white;
  padding: 20px;
  margin: 50px;
  display: flex;
  justify-content: space-around;
  font-family: "Inconsolata", monospace;
}

.linkpages a {
  color: white;
}

.image img {
  width: 400px;
  length: 400px;
  border: 2px solid red;
}

.first_img img{
  width: 400px;
  length: 400px;
  display: flex;
  justify-content: center;
}