:root {
  --main-bg-color: BlanchedAlmond;
  --secondary-bg-color: LightSalmon;
  --highlight-bg-color: Salmon;
  --main-text-color: IndianRed;
  --link-color: DarkRed;
}

/* CSS files add styling rules to your content */
body {
  font-family: 'Urbanist', sans-serif;
  background-color: var(--main-bg-color);
  padding: 10px;
  text-align: center;
}


h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  color: var(--main-text-color);
}

p {
  color: var(--main-text-color);
}

a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}

a:not(#navbar a):hover {
  background-color: var(--secondary-bg-color);
  padding: 4px;
  margin: -4px;
  border-radius: 4px;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2px;
  min-height: 40px;
  justify-content: center;
  align-items: stretch;
  font-weight: bold;
  text-transform: uppercase;
}

#navbar li {
  width: 100%;  
  text-align: center;
  /*border: 1px solid red;*/
  position: relative; 
}

#navbar a {
  text-decoration: none;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  /*border: 1px solid red;*/
  background-color: var(--secondary-bg-color);
  display: block;
  line-height: 250%;
  color: #fff;
}

#navbar a:hover {
  background-color: var(--highlight-bg-color);
}

#navbar a.selected {
  background-color: var(--main-text-color);
}

.portrait {
  border-radius: 2000px;
  width: 200px;
}